In [3]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [4]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

In [5]:
## Task 1: Reading and Inspection
## Subtask 1.1: Import and read
## Import and read the movie database. Store it in a variable called movies.

In [6]:
df=pd.read_csv("C:\\Users\\91636\\Downloads\\Movie+Assignment+Data.csv")
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [7]:
# Subtask 1.2: Inspect the dataframe
# Inspect the dataframe's columns, shapes, variable types etc.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [9]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [10]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [11]:
df.tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [12]:
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [13]:
df.shape

(5043, 28)

In [14]:
df.size

141204

In [15]:
## Task 2: Cleaning the Data
## Subtask 2.1: Inspect Null values¶

In [16]:
 null_counts = df.isnull().sum()

print("Column-wise Null Counts:")
print(null_counts)

Column-wise Null Counts:
color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [17]:
# code for row-wise null count
null_counts = df.isnull().sum(axis=1)
print("Row-wise Null Counts:")
print(null_counts)

Row-wise Null Counts:
0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [18]:
#code for column-wise null percentages 
total_rows = len(df)
null_counts = df.isnull().sum()
null_percentages = (null_counts / total_rows) * 100
null_percentages = null_percentages.round(2)

print("Column-wise Null Percentages:")
print(null_percentages)

Column-wise Null Percentages:
color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.28
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

In [19]:
# Subtask 2.2: Drop unecessary columns
df.drop(['color','director_facebook_likes', 'actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'cast_total_facebook_likes', 'actor_3_name', 'duration', 'facenumber_in_poster', 'content_rating', 'country', 'movie_imdb_link', 'aspect_ratio', 'plot_keywords'],axis=1)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,NaN,NaN,NaN,7.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Scott Smith,1.0,NaN,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,6.0,English,NaN,2013.0,7.7,84
5039,NaN,43.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,359.0,English,NaN,NaN,7.5,32000
5040,Benjamin Roberds,13.0,NaN,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,3.0,English,1400.0,2013.0,6.3,16
5041,Daniel Hsia,14.0,10443.0,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,9.0,English,NaN,2012.0,6.3,660
5042,Jon Gunn,43.0,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456

In [20]:
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [21]:
# Subtask 2.3: Drop unecessary rows using columns with high Null percentages
null_percentages = (df.isnull().sum() / len(df)) * 100
columns_to_drop = null_percentages[null_percentages > 5].index
df = df.dropna(subset=columns_to_drop)
print("DataFrame after dropping rows with null values for columns with >5% null values:")
print(df)

DataFrame after dropping rows with null values for columns with >5% null values:
      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
5     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
5026  Color    Olivier Assayas                    81.0     110.0
5027  Color       Jafar Panahi                    64.0      90.0
5033  Color      Shane Carruth                   143.0      77.0
5035  Color   Robert Rodriguez                    56.0      81.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
1                       563.0                  1000.0      Orlando Bloom
2                         0.0                   161.0       Rory Kinnear
3                     22000.0                 23000.0     Christian Bale
5                       475.0                   530.0    Samantha Morton
...                       ...                     ...                ...
5026                    107.0                    45.0     Béatrice Dalle
5027                    397.0                     0.0  Nargess Mamizadeh
5033                    291.0                     8.0     David Sullivan
5035                      0.0                     6.0    Peter Marquardt
5042                     16.0                    16.0   Brian Herzlinger

      actor_1_facebook_likes        gross  \
0                     1000.0  760505847.0
1                    40000.0  309404152.0
2                    11000.0  200074175.0
3                    27000.0  448130642.0
5                      640.0   73058679.0
...                      ...          ...
5026                   576.0     136007.0
5027                     5.0     673780.0
5033                   291.0     424760.0
5035                   121.0    2040920.0
5042                    86.0      85222.0

                                   genres  ... num_user_for_reviews language  \
0         Action|Adventure|Fantasy|Sci-Fi  ...               3054.0  English
1                Action|Adventure|Fantasy  ...               1238.0  English
2               Action|Adventure|Thriller  ...                994.0  English
3                         Action|Thriller  ...               2701.0  English
5                 Action|Adventure|Sci-Fi  ...                738.0  English
...                                   ...  ...                  ...      ...
5026                  Drama|Music|Romance  ...                 39.0   French
5027                                Drama  ...                 26.0  Persian
5033                Drama|Sci-Fi|Thriller  ...                371.0  English
5035  Action|Crime|Drama|Romance|Thriller  ...                130.0  Spanish
5042                          Documentary  ...                 84.0  English

      country  content_rating       budget  title_year actor_2_facebook_likes  \
0         USA           PG-13  237000000.0      2009.0                  936.0
1         USA           PG-13  300000000.0      2007.0                 5000.0
2          UK           PG-13  245000000.0      2015.0                  393.0
3         USA           PG-13  250000000.0      2012.0                23000.0
5         USA           PG-13  263700000.0      2012.0                  632.0
...       ...             ...          ...         ...                    ...
5026   France               R       4500.0      2004.0                  133.0
5027     Iran       Not Rated      10000.0      2000.0                    0.0
5033      USA           PG-13       7000.0      2004.0                   45.0
5035      USA               R       7000.0      1992.0                   20.0
5042      USA              PG       1100.0      2004.0                   23.0

     imdb_score  aspect_ratio movie_facebook_likes
0           7.9          1.78                33000
1           7.1          2.35                    0
2           6.8          2.35                85000
3           8.5          2.35               164000
5           6.6          2.35                24000
...         ...           ...                  ...
5026        6.9          2.35                  171
5027        7.5          1.85                  697
5033        7.0          1.85                19000
5035        6.9          1.37                    0
5042        6.6          1.85                  456

[3784 rows x 28 columns]

In [22]:
# Subtask 2.4: Drop unecessary rows
nan_counts = df.isnull().sum(axis=1)
df = df[nan_counts <= 5]
print("DataFrame after removing rows with more than five NaN values:")
print(df)

DataFrame after removing rows with more than five NaN values:
      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
5     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
5026  Color    Olivier Assayas                    81.0     110.0
5027  Color       Jafar Panahi                    64.0      90.0
5033  Color      Shane Carruth                   143.0      77.0
5035  Color   Robert Rodriguez                    56.0      81.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
1                       563.0                  1000.0      Orlando Bloom
2                         0.0                   161.0       Rory Kinnear
3                     22000.0                 23000.0     Christian Bale
5                       475.0                   530.0    Samantha Morton
...                       ...                     ...                ...
5026                    107.0                    45.0     Béatrice Dalle
5027                    397.0                     0.0  Nargess Mamizadeh
5033                    291.0                     8.0     David Sullivan
5035                      0.0                     6.0    Peter Marquardt
5042                     16.0                    16.0   Brian Herzlinger

      actor_1_facebook_likes        gross  \
0                     1000.0  760505847.0
1                    40000.0  309404152.0
2                    11000.0  200074175.0
3                    27000.0  448130642.0
5                      640.0   73058679.0
...                      ...          ...
5026                   576.0     136007.0
5027                     5.0     673780.0
5033                   291.0     424760.0
5035                   121.0    2040920.0
5042                    86.0      85222.0

                                   genres  ... num_user_for_reviews language  \
0         Action|Adventure|Fantasy|Sci-Fi  ...               3054.0  English
1                Action|Adventure|Fantasy  ...               1238.0  English
2               Action|Adventure|Thriller  ...                994.0  English
3                         Action|Thriller  ...               2701.0  English
5                 Action|Adventure|Sci-Fi  ...                738.0  English
...                                   ...  ...                  ...      ...
5026                  Drama|Music|Romance  ...                 39.0   French
5027                                Drama  ...                 26.0  Persian
5033                Drama|Sci-Fi|Thriller  ...                371.0  English
5035  Action|Crime|Drama|Romance|Thriller  ...                130.0  Spanish
5042                          Documentary  ...                 84.0  English

      country  content_rating       budget  title_year actor_2_facebook_likes  \
0         USA           PG-13  237000000.0      2009.0                  936.0
1         USA           PG-13  300000000.0      2007.0                 5000.0
2          UK           PG-13  245000000.0      2015.0                  393.0
3         USA           PG-13  250000000.0      2012.0                23000.0
5         USA           PG-13  263700000.0      2012.0                  632.0
...       ...             ...          ...         ...                    ...
5026   France               R       4500.0      2004.0                  133.0
5027     Iran       Not Rated      10000.0      2000.0                    0.0
5033      USA           PG-13       7000.0      2004.0                   45.0
5035      USA               R       7000.0      1992.0                   20.0
5042      USA              PG       1100.0      2004.0                   23.0

     imdb_score  aspect_ratio movie_facebook_likes
0           7.9          1.78                33000
1           7.1          2.35                    0
2           6.8          2.35                85000
3           8.5          2.35               164000
5           6.6          2.35                24000
...         ...           ...                  ...
5026        6.9          2.35                  171
5027        7.5          1.85                  697
5033        7.0          1.85                19000
5035        6.9          1.37                    0
5042        6.6          1.85                  456

[3784 rows x 28 columns]

In [23]:
# Subtask 2.5: Fill NaN values
df['language'].fillna('English', inplace=True)
print("DataFrame after replacing missing values in 'language' column with 'English':")
print(df)

DataFrame after replacing missing values in 'language' column with 'English':
      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
5     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
5026  Color    Olivier Assayas                    81.0     110.0
5027  Color       Jafar Panahi                    64.0      90.0
5033  Color      Shane Carruth                   143.0      77.0
5035  Color   Robert Rodriguez                    56.0      81.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
1                       563.0                  1000.0      Orlando Bloom
2                         0.0                   161.0       Rory Kinnear
3                     22000.0                 23000.0     Christian Bale
5                       475.0                   530.0    Samantha Morton
...                       ...                     ...                ...
5026                    107.0                    45.0     Béatrice Dalle
5027                    397.0                     0.0  Nargess Mamizadeh
5033                    291.0                     8.0     David Sullivan
5035                      0.0                     6.0    Peter Marquardt
5042                     16.0                    16.0   Brian Herzlinger

      actor_1_facebook_likes        gross  \
0                     1000.0  760505847.0
1                    40000.0  309404152.0
2                    11000.0  200074175.0
3                    27000.0  448130642.0
5                      640.0   73058679.0
...                      ...          ...
5026                   576.0     136007.0
5027                     5.0     673780.0
5033                   291.0     424760.0
5035                   121.0    2040920.0
5042                    86.0      85222.0

                                   genres  ... num_user_for_reviews language  \
0         Action|Adventure|Fantasy|Sci-Fi  ...               3054.0  English
1                Action|Adventure|Fantasy  ...               1238.0  English
2               Action|Adventure|Thriller  ...                994.0  English
3                         Action|Thriller  ...               2701.0  English
5                 Action|Adventure|Sci-Fi  ...                738.0  English
...                                   ...  ...                  ...      ...
5026                  Drama|Music|Romance  ...                 39.0   French
5027                                Drama  ...                 26.0  Persian
5033                Drama|Sci-Fi|Thriller  ...                371.0  English
5035  Action|Crime|Drama|Romance|Thriller  ...                130.0  Spanish
5042                          Documentary  ...                 84.0  English

      country  content_rating       budget  title_year actor_2_facebook_likes  \
0         USA           PG-13  237000000.0      2009.0                  936.0
1         USA           PG-13  300000000.0      2007.0                 5000.0
2          UK           PG-13  245000000.0      2015.0                  393.0
3         USA           PG-13  250000000.0      2012.0                23000.0
5         USA           PG-13  263700000.0      2012.0                  632.0
...       ...             ...          ...         ...                    ...
5026   France               R       4500.0      2004.0                  133.0
5027     Iran       Not Rated      10000.0      2000.0                    0.0
5033      USA           PG-13       7000.0      2004.0                   45.0
5035      USA               R       7000.0      1992.0                   20.0
5042      USA              PG       1100.0      2004.0                   23.0

     imdb_score  aspect_ratio movie_facebook_likes
0           7.9          1.78                33000
1           7.1          2.35                    0
2           6.8          2.35                85000
3           8.5          2.35               164000
5           6.6          2.35                24000
...         ...           ...                  ...
5026        6.9          2.35                  171
5027        7.5          1.85                  697
5033        7.0          1.85                19000
5035        6.9          1.37                    0
5042        6.6          1.85                  456

[3784 rows x 28 columns]

In [24]:
# Subtask 2.6: Check the number of retained rows

df['language'].fillna('English', inplace=True)
num_rows_before = len(df)
nan_counts = df.isnull().sum(axis=1)
df = df[nan_counts <= 5]
num_rows_after_nan_removal = len(df)
print("Number of rows before: ", num_rows_before)
print("Number of rows after removing rows with more than five NaN values: ", num_rows_after_nan_removal)
print("Percentage of rows retained: {:.2f}%".format((num_rows_after_nan_removal / num_rows_before) * 100))

Number of rows before:  3784
Number of rows after removing rows with more than five NaN values:  3784
Percentage of rows retained: 100.00%

In [25]:
# Task 3: Data Analysis
# Subtask 3.1: Change the unit of columns

In [26]:
df['budget'] = df['budget'] / 1000000  # Convert budget column to million dollars
df['gross'] = df['gross'] / 1000000    # Convert gross column to million dollars

print("DataFrame after converting budget and gross columns to million dollars:")
print(df)

DataFrame after converting budget and gross columns to million dollars:
      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
5     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
5026  Color    Olivier Assayas                    81.0     110.0
5027  Color       Jafar Panahi                    64.0      90.0
5033  Color      Shane Carruth                   143.0      77.0
5035  Color   Robert Rodriguez                    56.0      81.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
1                       563.0                  1000.0      Orlando Bloom
2                         0.0                   161.0       Rory Kinnear
3                     22000.0                 23000.0     Christian Bale
5                       475.0                   530.0    Samantha Morton
...                       ...                     ...                ...
5026                    107.0                    45.0     Béatrice Dalle
5027                    397.0                     0.0  Nargess Mamizadeh
5033                    291.0                     8.0     David Sullivan
5035                      0.0                     6.0    Peter Marquardt
5042                     16.0                    16.0   Brian Herzlinger

      actor_1_facebook_likes       gross                               genres  \
0                     1000.0  760.505847      Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309.404152             Action|Adventure|Fantasy
2                    11000.0  200.074175            Action|Adventure|Thriller
3                    27000.0  448.130642                      Action|Thriller
5                      640.0   73.058679              Action|Adventure|Sci-Fi
...                      ...         ...                                  ...
5026                   576.0    0.136007                  Drama|Music|Romance
5027                     5.0    0.673780                                Drama
5033                   291.0    0.424760                Drama|Sci-Fi|Thriller
5035                   121.0    2.040920  Action|Crime|Drama|Romance|Thriller
5042                    86.0    0.085222                          Documentary

      ... num_user_for_reviews language  country  content_rating    budget  \
0     ...               3054.0  English      USA           PG-13  237.0000
1     ...               1238.0  English      USA           PG-13  300.0000
2     ...                994.0  English       UK           PG-13  245.0000
3     ...               2701.0  English      USA           PG-13  250.0000
5     ...                738.0  English      USA           PG-13  263.7000
...   ...                  ...      ...      ...             ...       ...
5026  ...                 39.0   French   France               R    0.0045
5027  ...                 26.0  Persian     Iran       Not Rated    0.0100
5033  ...                371.0  English      USA           PG-13    0.0070
5035  ...                130.0  Spanish      USA               R    0.0070
5042  ...                 84.0  English      USA              PG    0.0011

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0         2009.0                  936.0        7.9          1.78
1         2007.0                 5000.0        7.1          2.35
2         2015.0                  393.0        6.8          2.35
3         2012.0                23000.0        8.5          2.35
5         2012.0                  632.0        6.6          2.35
...          ...                    ...        ...           ...
5026      2004.0                  133.0        6.9          2.35
5027      2000.0                    0.0        7.5          1.85
5033      2004.0                   45.0        7.0          1.85
5035      1992.0                   20.0        6.9          1.37
5042      2004.0                   23.0        6.6          1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
5                   24000
...                   ...
5026                  171
5027                  697
5033                19000
5035                    0
5042                  456

[3784 rows x 28 columns]

In [27]:
# Subtask 3.2: Find the movies with highest profit
## Create a new column called profit which contains the difference of the two columns: gross and budget.
df['profit'] = df['gross'] - df['budget']

print("DataFrame with the new 'profit' column:")
print(df)

DataFrame with the new 'profit' column:
      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
5     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
5026  Color    Olivier Assayas                    81.0     110.0
5027  Color       Jafar Panahi                    64.0      90.0
5033  Color      Shane Carruth                   143.0      77.0
5035  Color   Robert Rodriguez                    56.0      81.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
1                       563.0                  1000.0      Orlando Bloom
2                         0.0                   161.0       Rory Kinnear
3                     22000.0                 23000.0     Christian Bale
5                       475.0                   530.0    Samantha Morton
...                       ...                     ...                ...
5026                    107.0                    45.0     Béatrice Dalle
5027                    397.0                     0.0  Nargess Mamizadeh
5033                    291.0                     8.0     David Sullivan
5035                      0.0                     6.0    Peter Marquardt
5042                     16.0                    16.0   Brian Herzlinger

      actor_1_facebook_likes       gross                               genres  \
0                     1000.0  760.505847      Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309.404152             Action|Adventure|Fantasy
2                    11000.0  200.074175            Action|Adventure|Thriller
3                    27000.0  448.130642                      Action|Thriller
5                      640.0   73.058679              Action|Adventure|Sci-Fi
...                      ...         ...                                  ...
5026                   576.0    0.136007                  Drama|Music|Romance
5027                     5.0    0.673780                                Drama
5033                   291.0    0.424760                Drama|Sci-Fi|Thriller
5035                   121.0    2.040920  Action|Crime|Drama|Romance|Thriller
5042                    86.0    0.085222                          Documentary

      ... language country  content_rating    budget title_year  \
0     ...  English     USA           PG-13  237.0000     2009.0
1     ...  English     USA           PG-13  300.0000     2007.0
2     ...  English      UK           PG-13  245.0000     2015.0
3     ...  English     USA           PG-13  250.0000     2012.0
5     ...  English     USA           PG-13  263.7000     2012.0
...   ...      ...     ...             ...       ...        ...
5026  ...   French  France               R    0.0045     2004.0
5027  ...  Persian    Iran       Not Rated    0.0100     2000.0
5033  ...  English     USA           PG-13    0.0070     2004.0
5035  ...  Spanish     USA               R    0.0070     1992.0
5042  ...  English     USA              PG    0.0011     2004.0

      actor_2_facebook_likes imdb_score aspect_ratio  movie_facebook_likes  \
0                      936.0        7.9         1.78                 33000
1                     5000.0        7.1         2.35                     0
2                      393.0        6.8         2.35                 85000
3                    23000.0        8.5         2.35                164000
5                      632.0        6.6         2.35                 24000
...                      ...        ...          ...                   ...
5026                   133.0        6.9         2.35                   171
5027                     0.0        7.5         1.85                   697
5033                    45.0        7.0         1.85                 19000
5035                    20.0        6.9         1.37                     0
5042                    23.0        6.6         1.85                   456

          profit
0     523.505847
1       9.404152
2     -44.925825
3     198.130642
5    -190.641321
...          ...
5026    0.131507
5027    0.663780
5033    0.417760
5035    2.033920
5042    0.084122

[3784 rows x 29 columns]

In [28]:
# Sort the dataframe using the profit column as reference
df_sorted = df.sort_values(by='profit')

print("DataFrame sorted by the 'profit' column:")
print(df_sorted)

DataFrame sorted by the 'profit' column:
      color     director_name  num_critic_for_reviews  duration  \
2988  Color      Joon-ho Bong                   363.0     110.0
3859  Color    Chan-wook Park                   202.0     112.0
3005  Color      Lajos Koltai                    73.0     134.0
2323  Color    Hayao Miyazaki                   174.0     134.0
2334  Color   Katsuhiro Ôtomo                   105.0     103.0
...     ...               ...                     ...       ...
3080  Color  Steven Spielberg                   215.0     120.0
3024  Color      George Lucas                   282.0     125.0
26    Color     James Cameron                   315.0     194.0
29    Color   Colin Trevorrow                   644.0     124.0
0     Color     James Cameron                   723.0     178.0

      director_facebook_likes  actor_3_facebook_likes        actor_2_name  \
2988                    584.0                    74.0        Kang-ho Song
3859                      0.0                    38.0        Yeong-ae Lee
3005                     45.0                     0.0     Péter Fancsikai
2323                   6000.0                   745.0  Jada Pinkett Smith
2334                     78.0                   101.0  Robin Atkin Downes
...                       ...                     ...                 ...
3080                  14000.0                   548.0         Dee Wallace
3024                      0.0                   504.0       Peter Cushing
26                        0.0                   794.0        Kate Winslet
29                      365.0                  1000.0          Judy Greer
0                         0.0                   855.0    Joel David Moore

      actor_1_facebook_likes       gross  \
2988                   629.0    2.201412
3859                   717.0    0.211667
3005                     9.0    0.195888
2323                   893.0    2.298191
2334                   488.0    0.410388
...                      ...         ...
3080                   861.0  434.949459
3024                 11000.0  460.935665
26                   29000.0  658.672302
29                    3000.0  652.177271
0                     1000.0  760.505847

                                                 genres  ...   language  \
2988                         Comedy|Drama|Horror|Sci-Fi  ...     Korean
3859                                        Crime|Drama  ...     Korean
3005                                  Drama|Romance|War  ...  Hungarian
2323                        Adventure|Animation|Fantasy  ...   Japanese
2334  Action|Adventure|Animation|Family|Sci-Fi|Thriller  ...   Japanese
...                                                 ...  ...        ...
3080                                      Family|Sci-Fi  ...    English
3024                    Action|Adventure|Fantasy|Sci-Fi  ...    English
26                                        Drama|Romance  ...    English
29                     Action|Adventure|Sci-Fi|Thriller  ...    English
0                       Action|Adventure|Fantasy|Sci-Fi  ...    English

          country  content_rating        budget title_year  \
2988  South Korea               R  12215.500000     2006.0
3859  South Korea               R   4200.000000     2005.0
3005      Hungary               R   2500.000000     2005.0
2323        Japan           PG-13   2400.000000     1997.0
2334        Japan           PG-13   2127.519898     2004.0
...           ...             ...           ...        ...
3080          USA              PG     10.500000     1982.0
3024          USA              PG     11.000000     1977.0
26            USA           PG-13    200.000000     1997.0
29            USA           PG-13    150.000000     2015.0
0             USA           PG-13    237.000000     2009.0

      actor_2_facebook_likes imdb_score aspect_ratio  movie_facebook_likes  \
2988                   398.0        7.0         1.85                  7000
3859                   126.0        7.7         2.35                  4000
3005                     2.0        7.1         2.35                   607
2323                   851.0        8.4         1.85                 11000
2334                   336.0        6.9         1.85                   973
...                      ...        ...          ...                   ...
3080                   725.0        7.9         1.85                 34000
3024                  1000.0        8.7         2.35                 33000
26                   14000.0        7.7         2.35                 26000
29                    2000.0        7.0         2.00                150000
0                      936.0        7.9         1.78                 33000

            profit
2988 -12213.298588
3859  -4199.788333
3005  -2499.804112
2323  -2397.701809
2334  -2127.109510
...            ...
3080    424.449459
3024    449.935665
26      458.672302
29      502.177271
0       523.505847

[3784 rows x 29 columns]

In [29]:
# Extract the top ten profiting movies in descending order and store them in a new dataframe - top10

df_sorted = df.sort_values(by='profit', ascending=False)
top10 = df_sorted.head(10)
print("Top ten profiting movies:")
print(top10)

Top ten profiting movies:
      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
29    Color    Colin Trevorrow                   644.0     124.0
26    Color      James Cameron                   315.0     194.0
3024  Color       George Lucas                   282.0     125.0
3080  Color   Steven Spielberg                   215.0     120.0
794   Color        Joss Whedon                   703.0     173.0
17    Color        Joss Whedon                   703.0     173.0
509   Color       Roger Allers                   186.0      73.0
240   Color       George Lucas                   320.0     136.0
66    Color  Christopher Nolan                   645.0     152.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
29                      365.0                  1000.0         Judy Greer
26                        0.0                   794.0       Kate Winslet
3024                      0.0                   504.0      Peter Cushing
3080                  14000.0                   548.0        Dee Wallace
794                       0.0                 19000.0  Robert Downey Jr.
17                        0.0                 19000.0  Robert Downey Jr.
509                      28.0                   847.0        Nathan Lane
240                       0.0                  1000.0        Liam Neeson
66                    22000.0                 11000.0       Heath Ledger

      actor_1_facebook_likes       gross  \
0                     1000.0  760.505847
29                    3000.0  652.177271
26                   29000.0  658.672302
3024                 11000.0  460.935665
3080                   861.0  434.949459
794                  26000.0  623.279547
17                   26000.0  623.279547
509                   2000.0  422.783777
240                  20000.0  474.544677
66                   23000.0  533.316061

                                        genres  ... language country  \
0              Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
29            Action|Adventure|Sci-Fi|Thriller  ...  English     USA
26                               Drama|Romance  ...  English     USA
3024           Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
3080                             Family|Sci-Fi  ...  English     USA
794                    Action|Adventure|Sci-Fi  ...  English     USA
17                     Action|Adventure|Sci-Fi  ...  English     USA
509   Adventure|Animation|Drama|Family|Musical  ...  English     USA
240            Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
66                 Action|Crime|Drama|Thriller  ...  English     USA

      content_rating  budget title_year  actor_2_facebook_likes imdb_score  \
0              PG-13   237.0     2009.0                   936.0        7.9
29             PG-13   150.0     2015.0                  2000.0        7.0
26             PG-13   200.0     1997.0                 14000.0        7.7
3024              PG    11.0     1977.0                  1000.0        8.7
3080              PG    10.5     1982.0                   725.0        7.9
794            PG-13   220.0     2012.0                 21000.0        8.1
17             PG-13   220.0     2012.0                 21000.0        8.1
509                G    45.0     1994.0                   886.0        8.5
240               PG   115.0     1999.0                 14000.0        6.5
66             PG-13   185.0     2008.0                 13000.0        9.0

     aspect_ratio  movie_facebook_likes      profit
0            1.78                 33000  523.505847
29           2.00                150000  502.177271
26           2.35                 26000  458.672302
3024         2.35                 33000  449.935665
3080         1.85                 34000  424.449459
794          1.85                123000  403.279547
17           1.85                123000  403.279547
509          1.66                 17000  377.783777
240          2.35                 13000  359.544677
66           2.35                 37000  348.316061

[10 rows x 29 columns]

In [30]:
## Subtask 3.3: Drop duplicate values

df_unique = df.drop_duplicates()
df_sorted_unique = df_unique.sort_values(by='profit', ascending=False)
top10_unique = df_sorted_unique.head(10)
print("Top ten profiting movies after dropping duplicates:")
print(top10_unique)

Top ten profiting movies after dropping duplicates:
      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
29    Color    Colin Trevorrow                   644.0     124.0
26    Color      James Cameron                   315.0     194.0
3024  Color       George Lucas                   282.0     125.0
3080  Color   Steven Spielberg                   215.0     120.0
17    Color        Joss Whedon                   703.0     173.0
509   Color       Roger Allers                   186.0      73.0
240   Color       George Lucas                   320.0     136.0
66    Color  Christopher Nolan                   645.0     152.0
439   Color          Gary Ross                   673.0     142.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
29                      365.0                  1000.0         Judy Greer
26                        0.0                   794.0       Kate Winslet
3024                      0.0                   504.0      Peter Cushing
3080                  14000.0                   548.0        Dee Wallace
17                        0.0                 19000.0  Robert Downey Jr.
509                      28.0                   847.0        Nathan Lane
240                       0.0                  1000.0        Liam Neeson
66                    22000.0                 11000.0       Heath Ledger
439                     378.0                   575.0    Josh Hutcherson

      actor_1_facebook_likes       gross  \
0                     1000.0  760.505847
29                    3000.0  652.177271
26                   29000.0  658.672302
3024                 11000.0  460.935665
3080                   861.0  434.949459
17                   26000.0  623.279547
509                   2000.0  422.783777
240                  20000.0  474.544677
66                   23000.0  533.316061
439                  34000.0  407.999255

                                        genres  ... language country  \
0              Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
29            Action|Adventure|Sci-Fi|Thriller  ...  English     USA
26                               Drama|Romance  ...  English     USA
3024           Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
3080                             Family|Sci-Fi  ...  English     USA
17                     Action|Adventure|Sci-Fi  ...  English     USA
509   Adventure|Animation|Drama|Family|Musical  ...  English     USA
240            Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
66                 Action|Crime|Drama|Thriller  ...  English     USA
439            Adventure|Drama|Sci-Fi|Thriller  ...  English     USA

      content_rating  budget title_year  actor_2_facebook_likes imdb_score  \
0              PG-13   237.0     2009.0                   936.0        7.9
29             PG-13   150.0     2015.0                  2000.0        7.0
26             PG-13   200.0     1997.0                 14000.0        7.7
3024              PG    11.0     1977.0                  1000.0        8.7
3080              PG    10.5     1982.0                   725.0        7.9
17             PG-13   220.0     2012.0                 21000.0        8.1
509                G    45.0     1994.0                   886.0        8.5
240               PG   115.0     1999.0                 14000.0        6.5
66             PG-13   185.0     2008.0                 13000.0        9.0
439            PG-13    78.0     2012.0                 14000.0        7.3

     aspect_ratio  movie_facebook_likes      profit
0            1.78                 33000  523.505847
29           2.00                150000  502.177271
26           2.35                 26000  458.672302
3024         2.35                 33000  449.935665
3080         1.85                 34000  424.449459
17           1.85                123000  403.279547
509          1.66                 17000  377.783777
240          2.35                 13000  359.544677
66           2.35                 37000  348.316061
439          2.35                140000  329.999255

[10 rows x 29 columns]

In [31]:
# Subtask 3.4: Find IMDb Top 250
## Create a new dataframe IMDb_Top_250

In [32]:
df_sorted = df.sort_values(by='imdb_score', ascending=False)
df_filtered = df_sorted[df_sorted['num_voted_users'] > 25000]
IMDb_Top_250 = df_filtered.head(250)

print("Top 250 movies with highest IMDb rating and num_voted_users > 25,000:")
print(IMDb_Top_250)

Top 250 movies with highest IMDb rating and num_voted_users > 25,000:
      color         director_name  num_critic_for_reviews  duration  \
1937  Color        Frank Darabont                   199.0     142.0
3466  Color  Francis Ford Coppola                   208.0     175.0
66    Color     Christopher Nolan                   645.0     152.0
2837  Color  Francis Ford Coppola                   149.0     220.0
339   Color         Peter Jackson                   328.0     192.0
...     ...                   ...                     ...       ...
2177  Color            Tim Burton                   111.0     105.0
845   Color       Paul Greengrass                   491.0     134.0
0     Color         James Cameron                   723.0     178.0
162   Color          Dean DeBlois                   292.0     102.0
4082  Color     Richard Linklater                   405.0     109.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
1937                      0.0                   461.0    Jeffrey DeMunn
3466                      0.0                  3000.0     Marlon Brando
66                    22000.0                 11000.0      Heath Ledger
2837                      0.0                  3000.0         Al Pacino
339                       0.0                   416.0        Billy Boyd
...                       ...                     ...               ...
2177                  13000.0                   658.0      Dianne Wiest
845                     521.0                   186.0      Chris Mulkey
0                         0.0                   855.0  Joel David Moore
162                     255.0                   953.0    Djimon Hounsou
4082                      0.0                    48.0      Ariane Labed

      actor_1_facebook_likes       gross  \
1937                 11000.0   28.341469
3466                 14000.0  134.821952
66                   23000.0  533.316061
2837                 22000.0   57.300000
339                   5000.0  377.019252
...                      ...         ...
2177                 40000.0   56.362352
845                  15000.0  107.100855
0                     1000.0  760.505847
162                  18000.0  176.997107
4082                   140.0    8.114507

                                                genres  ... language country  \
1937                                       Crime|Drama  ...  English     USA
3466                                       Crime|Drama  ...  English     USA
66                         Action|Crime|Drama|Thriller  ...  English     USA
2837                                       Crime|Drama  ...  English     USA
339                     Action|Adventure|Drama|Fantasy  ...  English     USA
...                                                ...  ...      ...     ...
2177                                   Fantasy|Romance  ...  English     USA
845                           Biography|Drama|Thriller  ...  English     USA
0                      Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
162   Action|Adventure|Animation|Comedy|Family|Fantasy  ...  English     USA
4082                                     Drama|Romance  ...  English     USA

      content_rating  budget title_year  actor_2_facebook_likes imdb_score  \
1937               R    25.0     1994.0                   745.0        9.3
3466               R     6.0     1972.0                 10000.0        9.2
66             PG-13   185.0     2008.0                 13000.0        9.0
2837               R    13.0     1974.0                 14000.0        9.0
339            PG-13    94.0     2003.0                   857.0        8.9
...              ...     ...        ...                     ...        ...
2177           PG-13    20.0     1990.0                   967.0        7.9
845            PG-13    55.0     2013.0                   535.0        7.9
0              PG-13   237.0     2009.0                   936.0        7.9
162               PG   145.0     2014.0                  3000.0        7.9
4082               R     3.0     2013.0                    63.0        7.9

     aspect_ratio  movie_facebook_likes      profit
1937         1.85                108000    3.341469
3466         1.85                 43000  128.821952
66           2.35                 37000  348.316061
2837         1.85                 14000   44.300000
339          2.35                 16000  283.019252
...           ...                   ...         ...
2177         1.85                 16000   36.362352
845          2.35                 65000   52.100855
0            1.78                 33000  523.505847
162          2.35                 46000   31.997107
4082         1.85                 62000    5.114507

[250 rows x 29 columns]

In [33]:
IMDb_Top_250_sorted = IMDb_Top_250.sort_values(by='imdb_score', ascending=False)
IMDb_Top_250_filtered = IMDb_Top_250_sorted[IMDb_Top_250_sorted['num_voted_users'] > 25000]
IMDb_Top_250_filtered = IMDb_Top_250_filtered.head(250)
IMDb_Top_250_filtered['Rank'] = range(1, len(IMDb_Top_250_filtered) + 1)

print("Top 250 movies with highest IMDb rating and num_voted_users > 25,000 with Rank:")
print(IMDb_Top_250_filtered)

Top 250 movies with highest IMDb rating and num_voted_users > 25,000 with Rank:
      color         director_name  num_critic_for_reviews  duration  \
1937  Color        Frank Darabont                   199.0     142.0
3466  Color  Francis Ford Coppola                   208.0     175.0
66    Color     Christopher Nolan                   645.0     152.0
2837  Color  Francis Ford Coppola                   149.0     220.0
339   Color         Peter Jackson                   328.0     192.0
...     ...                   ...                     ...       ...
1606  Color       Nick Cassavetes                   177.0     123.0
1993  Color       Roger Donaldson                   126.0     127.0
3193  Color           Paul Haggis                   287.0     115.0
2558  Color          Edgar Wright                   285.0     121.0
4082  Color     Richard Linklater                   405.0     109.0

      director_facebook_likes  actor_3_facebook_likes    actor_2_name  \
1937                      0.0                   461.0  Jeffrey DeMunn
3466                      0.0                  3000.0   Marlon Brando
66                    22000.0                 11000.0    Heath Ledger
2837                      0.0                  3000.0       Al Pacino
339                       0.0                   416.0      Billy Boyd
...                       ...                     ...             ...
1606                    415.0                   545.0  Kevin Connolly
1993                     79.0                    50.0    Antony Starr
3193                    549.0                   911.0  Loretta Devine
2558                   1000.0                   108.0     Joe Cornish
4082                      0.0                    48.0    Ariane Labed

      actor_1_facebook_likes       gross                          genres  ...  \
1937                 11000.0   28.341469                     Crime|Drama  ...
3466                 14000.0  134.821952                     Crime|Drama  ...
66                   23000.0  533.316061     Action|Crime|Drama|Thriller  ...
2837                 22000.0   57.300000                     Crime|Drama  ...
339                   5000.0  377.019252  Action|Adventure|Drama|Fantasy  ...
...                      ...         ...                             ...  ...
1606                 33000.0    0.064286                   Drama|Romance  ...
1993                 12000.0    5.128124           Biography|Drama|Sport  ...
3193                  3000.0   54.557348            Crime|Drama|Thriller  ...
2558                   175.0   23.618786           Action|Comedy|Mystery  ...
4082                   140.0    8.114507                   Drama|Romance  ...

          country content_rating  budget  title_year actor_2_facebook_likes  \
1937          USA              R    25.0      1994.0                  745.0
3466          USA              R     6.0      1972.0                10000.0
66            USA          PG-13   185.0      2008.0                13000.0
2837          USA              R    13.0      1974.0                14000.0
339           USA          PG-13    94.0      2003.0                  857.0
...           ...            ...     ...         ...                    ...
1606          USA          PG-13    29.0      2004.0                  638.0
1993  New Zealand          PG-13    25.0      2005.0                  506.0
3193      Germany              R     6.5      2004.0                  912.0
2558           UK              R     8.0      2007.0                  115.0
4082          USA              R     3.0      2013.0                   63.0

      imdb_score aspect_ratio movie_facebook_likes      profit Rank
1937         9.3         1.85               108000    3.341469    1
3466         9.2         1.85                43000  128.821952    2
66           9.0         2.35                37000  348.316061    3
2837         9.0         1.85                14000   44.300000    4
339          8.9         2.35                16000  283.019252    5
...          ...          ...                  ...         ...  ...
1606         7.9         2.35                57000  -28.935714  246
1993         7.9         2.35                11000  -19.871876  247
3193         7.9         2.35                18000   48.057348  248
2558         7.9         2.35                17000   15.618786  249
4082         7.9         1.85                62000    5.114507  250

[250 rows x 30 columns]

In [ ]:
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250['language'] != 'English']
print("Movies in IMDb_Top_250 DataFrame which are not in English language:")
print(Top_Foreign_Lang_Film)

In [ ]:
## Subtask 3.5: Find the best directors
# Group the dataframe using the director_name column.

grouped_df = df.groupby('director_name')
for director, group in grouped_df:
    print("Director:", director)
    print(group)

In [ ]:
#Top 10 - director


director_mean_scores = df.groupby('director_name')['imdb_score'].mean()
top10director = director_mean_scores.sort_values(ascending=False).head(10)

print("Top 10 directors with highest mean imdb_score:")
print(top10director)

In [ ]:
## Subtask 3.6: Find popular genres

split_genres = df['genres'].str.split('|', expand=True)
df['genre_1'] = split_genres[0]
df['genre_2'] = split_genres[1].fillna(split_genres[0])

print("DataFrame with genre_1 and genre_2 columns:")
print(df)

In [ ]:
#Group the dataframe using genre_1 as the primary column and genre_2 as the secondary column

grouped_df = df.groupby(['genre_1', 'genre_2'])
for group, movies in grouped_df:
    print("Genre 1:", group[0])
    print("Genre 2:", group[1])
    print("Movies:")
    print(movies)
    print()

In [ ]:
## Top 5 most popular combinations of genres

PopGenre = df.groupby(['genre_1', 'genre_2'])['gross'].mean().reset_index()
PopGenre = PopGenre.sort_values(by='gross', ascending=False).head(5)

print("Top 5 most popular combinations of genres by mean gross:")
print(PopGenre)

In [ ]:
## Subtask 3.7: Find the critic-favorite and audience-favorite actors
# creating three new dataframes here

Meryl_Streep = df[df['actor_1_name'] == 'Meryl Streep']
Leo_Caprio = df[df['actor_1_name'] == 'Leonardo DiCaprio']
Brad_Pitt = df[df['actor_1_name'] == 'Brad Pitt']

print("Meryl Streep's movies:")
print(Meryl_Streep)

print("\nLeonardo DiCaprio's movies:")
print(Leo_Caprio)

print("\nBrad Pitt's movies:")
print(Brad_Pitt)

In [ ]:
## Append the rows of all these dataframes and store them in a new dataframe named Combined

Meryl_Streep = pd.DataFrame({'actor_1_name': ['Meryl Streep', 'Meryl Streep'],
                             'movie_title': ['Movie1', 'Movie4']})

Leo_Caprio = pd.DataFrame({'actor_1_name': ['Leonardo DiCaprio', 'Leonardo DiCaprio'],
                           'movie_title': ['Movie2', 'Movie5']})

Brad_Pitt = pd.DataFrame({'actor_1_name': ['Brad Pitt'],
                          'movie_title': ['Movie3']})

# Concatenate the rows of Meryl_Streep, Leo_Caprio, and Brad_Pitt DataFrames
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt])

print("Combined DataFrame:")
print(Combined)

In [ ]:
##Group the combined dataframe using the actor_1_name column.

grouped_combined = Combined.groupby('actor_1_name')
for actor, group in grouped_combined:
    print("Actor:", actor)
    print("Movies:")
    print(group)
    print()

In [ ]:
## Find the mean of the num_critic_for_reviews and num_user_for_review and identify the actors which have the highest mean.

actor_means = Combined.groupby('actor_1_name')[['num_critic_for_reviews', 'num_user_for_reviews']].mean()
highest_mean_values = actor_means.max(axis=1)
actors_with_highest_mean = actor_means.index[actor_means.eq(highest_mean_values, axis=0).any(axis=1)].tolist()

print("Actors with the highest mean values:")
print(actors_with_highest_mean)

In [ ]:
df

In [ ]:

Meryl_Streep = df[df['actor_1_name'] == 'Meryl Streep']
Leo_Caprio = df[df['actor_1_name'] == 'Leonardo DiCaprio']
Brad_Pitt = df[df['actor_1_name'] == 'Brad Pitt']
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt])
grouped_combined = Combined.groupby('actor_1_name')
mean_reviews = grouped_combined[['num_critic_for_reviews', 'num_user_for_reviews']].mean()
highest_mean_values = mean_reviews.max(axis=1)
actors_with_highest_mean = mean_reviews.index[mean_reviews.eq(highest_mean_values, axis=0).any(axis=1)].tolist()

print("Actors with the highest mean values:")
print(actors_with_highest_mean)